

<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <!-- Decomment to add back the IMAGE FACE -->
        <!-- <a href="#" class="image avatar"><img src="{{ "/assets/avatar.jpg" | absolute_url }}" alt="" /></a> -->
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <!--<a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>-->

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}
      <a class="sidebar-nav-item" href="{{ "/" | absolute_url }}">About</a>
      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
       <a href="resume.pdf" class="icon" style="font-weight: 700"><font size="5">cv</font></a>
          <a href="https://scholar.google.it/citations?user=FW_kNZUAAAAJ&hl=en" class="fa fa-graduation-cap"><span class="label"></span></a>
          <a href="https://www.linkedin.com/in/matteo-testa-822a9811/" class="fa fa-linkedin"><span class="label"></span></a>
          <a href="https://www.researchgate.net/profile/Matteo_Testa" class="ai ai-researchgate ai-1x"><span class="label"></span></a> 
      <!--<span class="sidebar-nav-item">Currently v{{ site.version }}</span>-->
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
